<!DOCTYPE html>
{% load static %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/style.css' %}"/>
    <title> Online Grocery Store - {% block title %} Welcome! {% endblock %}</title>
</head>
<body>
<nav>
        <ul>
            <li><a href="{% url 'myapp:index'%}">Home</a></li>
            <li><a href="{% url 'myapp:about'%}">About</a></li>
            <li><a href="{% url 'myapp:items'%}">Items Page</a></li>
            <li><a href="{% url 'myapp:placeorder'%}">Place Order</a></li>
            <li><a href="{% url 'myapp:itemsearch'%}">Item Search</a></li>
            <li><a href="{% url 'myapp:team'%}">Developed By</a></li>
        </ul>
    </nav>
<div>
    <h1>{% block myhdg %} Welcome to our online grocery store {% endblock %}</h1>
    {% block body_block %}*** {% endblock %}
</div>
</body>
</html>