<!DOCTYPE html>
{% load static %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/style.css' %}"/>
    <title> Online Grocery Store - {% block title %} Welcome! {% endblock %}</title>
</head>
<body>
<div>
    <h1>{% block myhdg %} Welcome to our online grocery store {% endblock %}</h1>
    {% block body_block %}*** {% endblock %}
</div>
<div>
    <ul>
        <li class="hbar1"><a href="http://127.0.0.1:8000/aboutUs"> Find out about this site </a></li>
        <li class="hbar1"><a href = "{% url 'myapp:index'%}"> Click here to return to main page </a><br/></li>
        <li class="hbar1"><a href = "{% url 'myapp:items'%}"> Click here to go to the Items Page </a><br/></li>
    </ul>
</div>
</body>
</html>