<!DOCTYPE html>
<html>
<head lang="en">
<meta charset="UTF-8">
<title> Online Grocery Store </title>
</head>
<body>
{% if type_list %}
    <h2> List of Types </h2>
    <ol>
        {% for type in type_list %}
            <li><a href="{% url 'detail' type.id %}"> {{ type.name}} </a></li>
        {% endfor %}
    </ol>
{% else %}
<strong> None of the types is available! </strong>
{% endif %}
<p><a href="{% url 'about' 2024 12   %}">About Page (url namespaced with hard coded year and month)</a></p>
<p><a href="{% url 'aboutUs'    %}">About Page (url namespaced without hard coded year and month)</a></p>
</body>
</html>
