{% extends 'myapp/base.html' %}
{% load static %}

{% block body_block %}
    <div>
    <img src="{% static 'myapp/banner.jpg' %}" style="object-fit: cover; width: 100%; height: 400px;">
    </div>

{% if type_list %}
    <h2> List of Types </h2>
    <ol>
        {% for type in type_list %}
            <li><a href="{% url 'myapp:detail' type.id %}"> {{ type.name}} </a></li>
        {% endfor %}
    </ol>
{% else %}
<strong> None of the types is available! </strong>
{% endif %}
    <h2 style="text-align: center">Featured Items</h2>
    <div class = "pic-container" style="display: flex;justify-content: center;">
    <div class = "img-desc" style="display: inline-block;text-align: center;margin: 10px;">
        <img src="{% static 'myapp/Cookies.jpg' %}" alt="Cookies" style="max-width: 150px; max-height: 150px;">
        <p>Description: Cookies</p>
    </div>
        <div class = "img-desc" style="display: inline-block; text-align: center;margin: 10px;">
        <img src="{% static 'myapp/Handwash.jpg' %}" alt="Handwash" style="max-width: 150px; max-height: 150px;">
        <p>Description: Handwash</p>
    </div>

</div>
{% endblock %}