{% extends 'myapp/base.html' %}

{% block body_block %}
    
<h3>Group 3 Team Members</h3>
{% if details %}
    {% for detail in details  %}
        <li><strong>{{detail}}</strong>
        <ol>Email: {{ detail.email }}</ol>
        <ol>University Roll Number: {{ detail.rollNum }}</ol>
        </li>
    {% endfor %}
{% else %}
    <br>
    <strong> No items in this Category! </strong>
{% endif %}
{#<p><a href="{% url 'myapp:index'%}">Index Page</a></p>#}
{#<p><a href=" http://127.0.0.1:8000/about/2024/12">About Page (Hardcoded with year and month)</a></p>#}

{% endblock %}
