.hbar1 {
display: inline;
margin: 15px;
}

h1{
    font-style: italic;
    font-size: medium;
    text-align: center;
}

*{
    text-decoration-color: black;
    font-size: medium;
    align-content: center;

}

body{
    background-color: beige;
}

nav {
    text-align: center;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #000000;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

