.hbar1 {
display: inline;
margin: 15px;
}

h1{
    font-style: italic;
    font-size: medium;
}

*{
    text-decoration-color: black;
    font-size: medium;
    align-content: center;

}

body{
    background-color: beige;
}